{% extends 'header.html' %}

{% block head %}

    <title>Serie uniforme equivalente al presente</title>

    <div class="container" align="middle" >

        <div class="jumbotron">

            <h1>Serie uniforme equivalente al presente (A)</h1>
        </div>
    </div>
{% endblock %}

{% block body %}

    <div class="container" >
        <div class="row">

            <div class="col-md-4">

                <form method="post">

                    {% csrf_token %}
                    {{ valorPresente.as_p }}
                    {{ interes.as_p}}
                    {{ numeroPeriodos.as_p }}
                    {{ tipoPeriodos.as_p }}
                    <button type="submit">Calcular</button>
                </form>
                <br>
                <div id="mydiv"> </div>
            </div>

            <div class="col-md-8">

                <canvas id="myChart" width="400" height="200"></canvas>
            </div>
        </div>
    </div>

    <script>

        var ctx = document.getElementById('myChart').getContext('2d');
        var tipoPeriodoString;

        if ('{{ stringTipoPeriodos }}' == 'Años')
            tipoPeriodoString = 'año';
        else if ('{{ stringTipoPeriodos }}' == 'Meses')
            tipoPeriodoString = 'mes';
        else tipoPeriodoString = 'dia';

        var periodos = [];
        for (let i = 0; i < Number({{ stringNumeroPeriodos }}) + 1; i++) {

            periodos.push(i.toString())
        }

        var pagos = new Array(Number({{ stringNumeroPeriodos }}) + 1);

        var valorFuturo = (Number({{ stringValorPresente }})) * ((Number({{ stringValorInteres }}) * Math.pow((1 + Number({{ stringValorInteres }})),
            Number({{ stringNumeroPeriodos }}))) / (Math.pow((1 + Number({{ stringValorInteres }})),
            Number({{ stringNumeroPeriodos }})) - 1));

        for (let i = 1; i < pagos.length; i++) {
            pagos[i] = valorFuturo.toString();
        }

        pagos[0] = (-1 * Number({{ stringValorPresente }})).toString();

        var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',
        // The data for our dataset
        data: {

            labels: periodos,
            datasets: [{
                lineTension: 0,
                steppedLine: true,
                label: 'Serie uniforme equivalente al presente',
                borderColor: 'rgb(255, 99, 132)',
                data: pagos,
            }]
        },

        // Configuration options go here
        options: {
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: '$'
                    }
                 }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: '{{ stringTipoPeriodos }}'
                    }
                 }]
            }
        }
        });

        document.getElementById("mydiv").innerHTML = 'Serie uniforme equivalente al presente (A): $'
            + valorFuturo.toFixed(6)  + '/' + tipoPeriodoString;
    </script>
{% endblock %}